$play-btn-clr: #e0564d;

body {
  font-family: 'Permanent Marker', cursive;
  width: 100%;
  height: 100%;

  .game-controls {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  button {
    font-family: 'Permanent Marker', cursive;
    width: 2.5rem;
    height: .77rem;
    background: $play-btn-clr;
    border: .1rem solid $play-btn-clr;
    box-shadow: 2px 2px #f5bcb4;
    color: white;
  }


}