body {
  font-family: "Permanent Marker", cursive;
  width: 100%;
  height: 100%;
}
body .game-controls {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
body button {
  font-family: "Permanent Marker", cursive;
  width: 2.5rem;
  height: 0.77rem;
  background: #e0564d;
  border: 0.1rem solid #e0564d;
  box-shadow: 2px 2px #f5bcb4;
  color: white;
}

/*# sourceMappingURL=GameControls.css.map */
