body {
  font-size: 0.5rem;
}
body .disp-res-wrapper {
  font-family: "Permanent Marker", cursive;
  display: flex;
  align-content: center;
  flex-direction: column;
  margin-top: 0.1em;
}
body .bet-info {
  align-self: center;
  width: 35%;
  background: #E0564D;
  border: 0.1rem solid #E0564D;
  box-shadow: 2px 2px white;
  color: white;
}
body p {
  font-size: 0.4em;
}
body .winOrLose {
  z-index: 10;
  width: 42%;
  align-self: center;
  background: #E0564D;
  border: 0.1rem solid #E0564D;
  box-shadow: 2px 2px white;
  color: white;
}

/*# sourceMappingURL=DispRes.css.map */
