$font-size-txt: .5rem;

body {
  .disp-res-wrapper {
    font-family: 'Permanent Marker', cursive;

    display: flex;
    align-content: center;
    flex-direction: column;
    margin-top: .1em;

  }

  .bet-info {
    align-self: center;
    width: 35%;
     background: #E0564D;
    border: .1rem solid #E0564D;
    box-shadow: 2px 2px white;
    color: white;
  }


  p {
    font-size: .4em;
  }
  .winOrLose {
    z-index: 10;
    width: 42%;
    align-self: center;
    background: #E0564D;
    border: .1rem solid #E0564D;
    box-shadow: 2px 2px white;
    color: white;
  }

  font-size: $font-size-txt;
}