$primary-bg: #ff655d;
$primary-txt: #6bffd8;
$font-size-txt: 5rem;

body, html {
  font-family: 'Permanent Marker', cursive;
  background: $primary-bg;
  color: $primary-txt;
  font-size: $font-size-txt;
  .info-title{
    margin-top: 1em;
    color:$primary-txt;
    font-size: 1.1em;
  }
  .img-wrapper {
    display: flex;
    justify-content: center;

  }

  .result-images {
    display: flex;
    justify-content: center;

    .img-blank {
      width: 1rem;
      height: 1rem;
      margin-top: 0;
    }
  }

  .unselected {
    width: .6rem;
    height: .6rem;
    margin: .1rem;
    filter: grayscale(100%);

  }

  .selected {
    width: .8rem;
    height: .8rem;
    margin: .1rem;
   }

  img[disabled] {
    pointer-events: none;
    opacity: 85%;
  }

  .play-button {
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: flex-start;
  }

  .feedback {
    display: flex;
    justify-content: center;
    margin: 0;

    .message {
      width: 60%;
      height: 50%;
      background: #E0564D;
      border: .1rem solid #E0564D;
      border-radius: .05rem;
      box-shadow: 2px 2px white;
      color: white;
      text-align: center;
    }
  }

  #play {
    margin: .35rem;
  }

}