body, html {
  font-family: "Permanent Marker", cursive;
  background: #ff655d;
  color: #6bffd8;
  font-size: 5rem;
}
body .info-title, html .info-title {
  margin-top: 1em;
  color: #6bffd8;
  font-size: 1.1em;
}
body .img-wrapper, html .img-wrapper {
  display: flex;
  justify-content: center;
}
body .result-images, html .result-images {
  display: flex;
  justify-content: center;
}
body .result-images .img-blank, html .result-images .img-blank {
  width: 1rem;
  height: 1rem;
  margin-top: 0;
}
body .unselected, html .unselected {
  width: 0.6rem;
  height: 0.6rem;
  margin: 0.1rem;
  filter: grayscale(100%);
}
body .selected, html .selected {
  width: 0.8rem;
  height: 0.8rem;
  margin: 0.1rem;
}
body img[disabled], html img[disabled] {
  pointer-events: none;
  opacity: 85%;
}
body .play-button, html .play-button {
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: flex-start;
}
body .feedback, html .feedback {
  display: flex;
  justify-content: center;
  margin: 0;
}
body .feedback .message, html .feedback .message {
  width: 60%;
  height: 50%;
  background: #E0564D;
  border: 0.1rem solid #E0564D;
  border-radius: 0.05rem;
  box-shadow: 2px 2px white;
  color: white;
  text-align: center;
}
body #play, html #play {
  margin: 0.35rem;
}

/*# sourceMappingURL=Game.css.map */
