body .formHandler, html .formHandler {
  display: flex;
  justify-content: center;
  align-content: center;
}
body .formHandler input, html .formHandler input {
  margin: 0.2rem;
  font-family: "Permanent Marker", cursive;
  width: 20%;
  height: 12%;
  text-align: center;
  background: #E0564D;
  border: 0.01rem solid #E0564D;
  font-size: 0.5rem;
  color: #6BFFD8;
}

/*# sourceMappingURL=BetDepositForm.css.map */
