body, html {
  .formHandler {
    display: flex;
    justify-content: center;
    align-content: center;

    input {
      margin: .2rem;
      font-family: 'Permanent Marker', cursive;
      width: 20%;
      height: 12%;
      text-align: center;
      background: #E0564D;
      border: .01rem solid #E0564D;
      font-size: .5rem;
      color:#6BFFD8;
    }
  }
}